.App {
    text-align: left;
    font-family: Helvetica Neue; 
    font-weight: bold;
  }
  .form-group {
    text-align: left;
    font-family: Helvetica Neue; 
    font-weight: bold;
    
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
    
  div#titulo {
    width:100%;
    height: 150px;
    background-color: #649EFD;
  }
  
  .table {
    background-color: white;
    border-radius: 20px;
    height: 640px;
    padding: 0 10px 10px 10px;
    overflow-y: auto;
   
  }
  
  
  img.icon{
      display: block;
      margin:50px auto;
      background-color: rgba(255, 255, 255, 0);
      width:70px;
      padding:10px;
  }